# Cleaning, Concatenating and Indexing

In [3]:
import pandas as pd
import csv

In [4]:
year = 2014

In [5]:
data_name = "TRI_{}_WI.csv"

In [38]:
data = pd.read_csv(data_name.format(year))
data.head()

,1. YEAR,2. TRIFD,3. FRS ID,4. FACILITY NAME,5. STREET ADDRESS,6. CITY,7. COUNTY,8. ST,9. ZIP,10. BIA,...,107. 8.3 - ENERGY RECOVER OF,108. 8.4 - RECYCLING ON SITE,109. 8.5 - RECYCLING OFF SIT,110. 8.6 - TREATMENT ON SITE,111. 8.7 - TREATMENT OFF SITE,112. PRODUCTION WSTE (8.1-8.7),113. 8.8 - ONE-TIME RELEASE,114. PROD_RATIO_OR_ ACTIVITY,115. 8.9 - PRODUCTION RATIO,Unnamed: 115
0,2013,54487NKSPCN9090,110000422267,PACKAGING CORP OF AMERI CA,N9090 COUNTY RD E,TOMAHAWK,LINCOLN,WI,54487,NaN,...,0.0,0.0,0.0,0.0,0.0,52040.0,NaN,NaN,1.14,NaN
1,2013,53095THWST400WA,110013361254,REGAL WARE WEST BEND,1100 SCHMIDT RD,WEST BEND,WASHINGTON,WI,53090,NaN,...,0.0,0.0,60676.0,0.0,0.0,60681.0,NaN,NaN,1.00,NaN
2,2013,53095MTLCR26MET,110024832314,METALCRAFT OF MAYVILLE,2600 METALCRAFT RD,WEST BEND,WASHINGTON,WI,53095,NaN,...,0.0,0.0,144600.0,0.0,0.0,144690.0,NaN,NaN,3.43,NaN
3,2013,54956NNHPP135NC,110007333242,NEENAH INC NEENAH MILL,135 N COMMERCIAL ST,NEENAH,WINNEBAGO,WI,54956,NaN,...,1274.0,0.0,0.0,643.0,0.0,2377.0,NaN,NaN,0.83,NaN
4,2013,53110LDSHC5481S,110000417228,ATI LADISH LLC,5481 S PACKARD AVE,CUDAHY,MILWAUKEE,WI,53110,NaN,...,0.0,0.0,0.0,38288.0,62181.0,100720.0,NaN,NaN,0.97,NaN

In [39]:
clean_data = data[['1. YEAR', "7. COUNTY", "12. LATITUDE", "13. LONGITUDE", "19. INDUSTRY SECTOR", "100. TOTAL RELEASES"]]

In [40]:
clean_data = clean_data.rename(columns={'1. YEAR':'Year', "7. COUNTY":"County", "12. LATITUDE": "Latitude", "13. LONGITUDE":"Longitude", "19. INDUSTRY SECTOR":"Industry Sector", "100. TOTAL RELEASES":"Total Release"})
clean_data

      Year      County   Latitude  Longitude    Industry Sector  Total Release
0     2013     LINCOLN  45.450849 -89.740303              Paper       52040.00
1     2013  WASHINGTON  43.435900 -88.175500  Fabricated Metals           5.00
2     2013  WASHINGTON  43.387990 -88.172140  Fabricated Metals          90.00
3     2013   WINNEBAGO  44.188073 -88.460072              Paper         460.00
4     2013   MILWAUKEE  42.947167 -87.861500  Fabricated Metals         251.00
...    ...         ...        ...        ...                ...            ...
2919  2013    WAUKESHA  43.009840 -88.208450     Primary Metals        1348.98
2920  2013   SHEBOYGAN  43.674060 -87.781470          Chemicals           0.00
2921  2013   SHEBOYGAN  43.674060 -87.781470          Chemicals           0.00
2922  2013   MILWAUKEE  43.148780 -88.013960          Machinery           5.00
2923  2013       DODGE  43.213543 -88.519174              Paper         399.00

[2924 rows x 6 columns]

In [42]:
clean_data.to_csv("TRI_{}_Clean.csv".format(year), index = False)

In [6]:
data2009 = pd.read_csv("TRI_{}_Clean.csv".format(2009))
data2010 = pd.read_csv("TRI_{}_Clean.csv".format(2010))
data2011 = pd.read_csv("TRI_{}_Clean.csv".format(2011))
data2012 = pd.read_csv("TRI_{}_Clean.csv".format(2012))
data2013 = pd.read_csv("TRI_{}_Clean.csv".format(2013))
data2014 = pd.read_csv("TRI_{}_Clean.csv".format(2014))
data2015 = pd.read_csv("TRI_{}_Clean.csv".format(2015))
data2016 = pd.read_csv("TRI_{}_Clean.csv".format(2016))
data2017 = pd.read_csv("TRI_{}_Clean.csv".format(2017))
data2018 = pd.read_csv("TRI_{}_Clean.csv".format(2018))
frames = [data2009, data2010, data2011, data2012, data2013, data2014, data2015, data2016, data2017, data2018]

In [7]:
result = pd.concat(frames)
result.to_csv("complete_clean_data.csv", index = False)

# SQL Queries

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('sqlite://', echo=False)

In [13]:
df = pd.read_csv("complete_clean_data.csv")
df.to_sql("full_data", engine, if_exists='append', index=False)

In [14]:
def qry(sql, cap=10):
    return pd.read_sql(sql, engine).head(cap)

In [15]:
qry("""
SELECT County, AVG(`Total Release`) as `average`
FROM full_data
GROUP BY County
ORDER BY `average`
""", 9999)

       County       average
0    BAYFIELD      0.011000
1        IOWA     16.528667
2    WAUSHARA     47.764762
3     BURNETT    316.142857
4        RUSK    507.223077
..        ...           ...
61       WOOD  47580.172063
62    WAUPACA  55979.089674
63    BUFFALO  63513.250241
64      CLARK  69286.193333
65  LAFAYETTE  83140.892143

[66 rows x 2 columns]

In [16]:
qry("""
SELECT County
FROM full_data
GROUP BY County

""", 1000)

       County
0       ADAMS
1     ASHLAND
2      BARRON
3    BAYFIELD
4       BROWN
..        ...
61   WAUKESHA
62    WAUPACA
63   WAUSHARA
64  WINNEBAGO
65       WOOD

[66 rows x 1 columns]